body{
  background-color: lightgray;
  color: #000033;
}
#container{
  text-align: center;
}
#clock{
  height: 400px;
  width: 900px;
  border-radius: 75px 75px;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 7px 7px 5px #888888
}
.button{
  font-size: 35px;
  background-color: #000033;
  width: 125px;
  height: 199px;
  text-align: center;
  verticle-align:middle;
  line-height: 200px;
}
.button:active{
  transform: translateY(2px);  
}
#negativeChange{
  height: 400px;
  width: 125px;
  float: left;
  color: lightblue;
}
/* #buttons{
  color: lightblue;
} */
#minus5{
  border-top-left-radius: 75px 75px;
  border-bottom: 2px lightblue solid;
}
#minus1{
  border-bottom-left-radius: 75px 75px;
}
#positiveChange{
  height: 400px;
  width: 125px;
  float: left;
  color: lightblue;
}
#plus5{
  border-bottom: 2px lightblue solid;
  border-top-right-radius: 75px 75px;
}
#plus1{
  border-bottom-right-radius: 75px 75px;
}
#screen{
  background-color: lightblue;
  height: 400px;
  width: 650px;
  float: left;
  text-align: center;
  verticle-align: middle;
}
#mainScreen{
  height: 200px;
  width: 650px;
  position: absolute;
  line-height: 200px;
  text-align: center;
  verticle-align: middle;
  font-size: 225px;
  color: #000033;
}
#upperScreen{
  height: 100px;
  line-height: 100px;
  font-size: 26px;
  color: #000033;
}
#lowerScreen{
  position: absolute;
  height: 100px;
  width: 650px;
  line-height: 100px;
  top: 419px;
  font-size: 26px;
  color: #000033;
}
.hours{
  display: none;
}
.hoursColon{
  display: none;
}